<div class="row">
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of students; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{student.first_name}}</td>
                    <td>{{student.last_name}}</td>
                    <td>
                        <a [routerLink]="['/details',student.id]">Details</a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
  <div class="row">
      <div class="col-3">
        <!-- <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="items.length"></ngb-pagination> -->
      </div>
  </div>