<div class="row">
    <div class="col-sm-3">
        <label class="form-group">
            Show
            <select class="form-select form-control" [formControl]="perPage" aria-label="Default select example">
                <option  value="2" >2</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="12">12</option>
              </select>
        </label>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- |slice: (page-1) * pageSize : page * pageSize  -->
                  <tr *ngFor="let student of students 
                  ; let i=index ">
                    <td>{{i+1}}</td>
                    <td>{{student.first_name}}</td>
                    <td>{{student.last_name}}</td>
                    <td>
                        <a [routerLink]="['/details',student.id]">Details</a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
  <div class="row">
      <div class="col-6"></div>
      <div class="col-6">
        <ngb-pagination
       [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="loadPage($event,pageSize)"
        [collectionSize]="total"></ngb-pagination>
      </div>
  </div>